name: Test and scan repository

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test-and-scan:
    strategy:
      matrix:
        node-version: [ '24' ]
    uses: hollowbytes/hb-shared-workflows/.github/workflows/ci-node-test.yml@main
    secrets:
      SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
    with:
      node-version: ${{ matrix.dotnet-version }}
